body {
    text-align: center;
    background-color: antiquewhite;
}

img{
    border: 1em solid black;
}

#mainHeading{
    color:red;
}

.funParagraph {
    color:green;
}

#testP {
    font-style: italic;
}